.info-block-animation-enter {
  opacity: 0;
  height: 0px;
  transform: translateX(2000px);
}

.info-block-animation-enter-active {
  opacity: 1;
  height: 1500px;
  transform: translateX(0px);
  transition: transform 3000ms, opacity 3000ms, height 3000ms;
}

.info-block-animation-exit {
  opacity: 1;
  height: 1500px;
  transform: translateX(0px);
}

.info-block-animation-exit-active {
  opacity: 0;
  height: 0px;
  transform: translateX(2000px);
  transition: transform 3000ms, opacity 3000ms, height 3000ms;
}