.range_line {
  width: 300px;
  margin: 1em 0 0 0;
  padding: 0;
  height: 5px;
}

.lcp-fcp_line {
  background: linear-gradient(90deg, rgb(36, 226, 45) 50%,
      rgb(255, 225, 56) 50% 80%, rgb(241, 21, 65) 80% 100%);
}

.fid_line {
  background: linear-gradient(90deg, rgb(36, 226, 45) 90%,
      rgb(255, 225, 56) 90% 96%, rgb(241, 21, 65) 96% 100%);
}

.cls_line {
  background: linear-gradient(90deg, rgb(36, 226, 45) 33%,
      rgb(255, 225, 56) 33% 66%, rgb(241, 21, 65) 66% 100%);
}

.inp_line {
  background: linear-gradient(90deg, rgb(36, 226, 45) 66%,
      rgb(255, 225, 56) 66% 86%, rgb(241, 21, 65) 86% 100%);
}

.ttfb_line {
  background: linear-gradient(90deg, rgb(36, 226, 45) 30%,
      rgb(255, 225, 56) 30% 85%, rgb(241, 21, 65) 85% 100%);
}

.default_link {
  text-decoration: none;
  transition: all 0.33s ease-in-out;
}

.url_tested_link:hover {
  color: rgb(64, 64, 218);
  transition: all 0.33s ease-in-out;
}