.form-enter {
  opacity: 0;
  transform: translateX(-2000px);
}

.form-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: transform 1000ms, opacity 2000ms;
}

.form-exit {
  opacity: 1;
  transform: translateX(0px);
}

.form-exit-active {
  opacity: 0;
  transform: translateX(-2000px);
  transition: transform 1000ms, opacity 2000ms;
}